.bubbleBelow {
  position: relative;
}

.bubbleBelow:before {
  content: "";
  position: absolute;
  left: 22px;
  top: -7px;
  width: 15px;
  height: 15px;
  z-index: 33;
  border-left: solid 15px;
  border-radius: 0;
  border-top: solid 15px;
  transform: rotate(45deg);
  border-color: #d2e8ff;
}
.content {
  grid-template-columns: minmax(70px, 100px) minmax(400px, 1fr) minmax(400px, 1fr);
  grid-gap: 15px;
}
.primaryImage {
  width: 100%;
}
.thumbnails {
}
.mainImage, .thumbnails, .post {
  /* justify-self: center; */
}