.bubbleBelow {
    position: relative;
}

.bubbleBelow:before {
    content: "";
    position: absolute;
    left: 22px;
    top: -7px;
    width: 15px;
    height: 15px;
    z-index: 33;
    border-left: solid 15px;
    border-radius: 0;
    border-top: solid 15px;
    transform: rotate(45deg);
    border-color: #d2e8ff;
}

@media (min-width: 768px) {
    .detail {
        max-height: calc(100vh - 130px);
    }
}